<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="GrobundDB"
			 connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=GrobundDB;Integrated Security=True;Connect Timeout=60;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
			 providerName="System.Data.SqlClient" />
		<add name="matrikel"
			 connectionString="Server=gronas.grobund.org;Database=matrikel;Uid=program;Pwd=npZ5dT-b4T1Mc;AllowUserVariables=True;" />
	</connectionStrings>
</configuration>